.team-area {
    background: $color-gray-seaction-team;
    position: relative;
    padding: 10rem 0;

    .team-thumb {
        background: #ffffff;
        position: relative;
        overflow: hidden;
        text-align: left;
        padding: 1.5rem 4rem 3rem 4rem;
        border: 1px solid $color-light-border;
        border-radius: .5rem;
        margin-bottom: 3rem;

        &:hover {
            top: -10px;
            border: 1px solid transparent;
            -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
        }

        -webkit-transition: .3s all;
        transition: .3s all;
        position: relative;
        top: 0;

        .team-image {
            &--avatar {
                object-fit: cover;
                display: table;
                position: relative;
                max-width: 100%;
                text-align: center;
                border-radius: 100%;
                width: 130px !important;
                height: 130px;
                margin: 10px auto;
            }
        }

        .team-info {
            margin: 3rem 0 2.5rem 0;
            text-align: center;

            &--name {
                color: $color-tertiary-dark;
            }

            &--job-title {
                color: $color-dark-border;
                font-weight: 600
            }


            &--description {
                font-size: 1.3rem;
                margin-top: 2.5rem;
            }
        }

        .social-icon {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            li {
                list-style: none;

                a {
                    color: $color-grey-light-social
                }

                a.fa-facebook-square:hover {
                    color: #3b5998
                }

                a.fa-twitter:hover {
                    color: #1da1f2
                }

                a.fa-instagram:hover {
                    color: #c32aa3
                }

                a.fa-linkedin-square:hover {
                    color: #007bb5
                }
            }
        }
    }

}

@media (max-width:991px) and (min-width:768px) {
    .col-md-cus-4 {
        -ms-flex: 0 0 33% !important;
        flex: 0 0 33% !important;
        max-width: 33% !important;
        margin: 0 auto;
    }
}